[Unit]
Description=Fan
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/fan.py
Restart=always

[Install]
WantedBy=multi-user.target