[Unit]
Description=Sensor
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/sensor.py
Restart=always

[Install]
WantedBy=multi-user.target