[Unit]
Description=WHR930
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/whr930.py
Restart=always

[Install]
WantedBy=multi-user.target