[Unit]
Description=RPI Fuse MQTT
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/heater_therm_mqtt.py
Restart=always

[Install]
WantedBy=multi-user.target