[Unit]
Description=Thermostat
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/thermostat.py
Restart=always

[Install]
WantedBy=multi-user.target