[Unit]
Description=Example
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/example.py
Restart=always

[Install]
WantedBy=multi-user.target