[Unit]
Description=Heater
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/heater.py
Restart=always

[Install]
WantedBy=multi-user.target