[Unit]
Description=Ethereum Node MQTT
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/
ExecStart=python3 /home/ubuntu/ethnode/ethnode_mqtt.py
Restart=always

[Install]
WantedBy=multi-user.target