[Unit]
Description=Fan API
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/fan_api.py
Restart=always

[Install]
WantedBy=multi-user.target