[Unit]
Description=RPI Fuse API
After=network.target

[Service]
User=pi
WorkingDirectory=/
ExecStart=python3 /home/pi/heater_therm_api.py
Restart=always

[Install]
WantedBy=multi-user.target